.img-upload {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #4ac5fa;
    padding: 1rem;
    z-index: 10;
    border-radius: 5px 5px 0 0;
}

.button {
    background-color: #fff !important;
    color: #000 !important;
    margin-top: 5px !important;
}

#file {
    display: none;
}

label {
    background-color: rgb(133, 216, 255);
    padding: 5px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem;
}

input {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

progress {
    width: 80%;
}

.button-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}